{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container-fluid">
<h2 class="subheading">Introduction</h2>
<p>Working with data has become an integral part of many professional domains with people of various levels of expertise 
    involved in the collection and analysis process to improve their organization's goals. A best practice around data management
    is creating a <b>data dictionary</b> that provides information about the variables in the dataset&mdash;namely, the variable <i>type</i> and a 
    <i>definition</i> that provides context and meaning, which can easily be understood across different users of the dataset. 
</p>
<h2 class="subheading">How Data Dictionaries are Typically Created</h2>
<p>
Compiling a data dictionary is generally a manual process that requires the user of the data to document a definition for each variable in a spreadsheet or similar document. A statistical or programming tool may be used to identify the data types of each variable, but without background knowledge in a specific software or programming language, this information may be documented manually too.
</p>
<h2 class="subheading">Use This Tool to Organize Data Better</h2>
<p>With this web application, you can easily create a data dictionary for your dataset that will identify the data types in the dataset and save definitions you created for previous data extracts so that you don't have to type your definitions again.
</p>
<h2 class="subheading">How It Works</h2>
<h3 class="heading-three">Step 1: Register for an account</h3>
<p>Registering for an account enables the data dictionary tool to save your previous definitions for use each time you use the data dictionary tool.</p>
<h3 class="heading-three">Step 2: Upload a Dataset</h3>
<p>Upload a dataset with a .csv, .txt or .xlsx extension. <i><b>Note:</b> Although the dataset will not be stored to the server, keep in mind best practices when uploading any sensitive or identifying information in the dataset.</i></p>
<h3 class="heading-three">Step 3: Verify Types and Define Your Variables</h3>
<p>After uploading your dataset, the tool will identify the data types for each variable. There is an option to modify the default data type using the dropdown menu selection.
   In the "definition" column, you can write a definition for each variable in the textbox. If this is not your first time using this tool, your previous definitions are saved in a <b>definition builder</b> to be automatically used again
   if the variable existed in your previous datasets. You can navigate to the definition builder page to see what variables you have used so far.
</p>
<h3 class="heading-three">Step 4: Export Your Data Dictionary</h3>
<p>The data dictionary can be exported in a table as an .xlsx or .pdf file.</p>

{% endblock %}